@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'spartan',sans-serif; 
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.white{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}


/* header start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px 80px ;
    background: #aaa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #556b2f;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #556b2f;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
.cart1{
    position: relative;
}
.cartAmount{
    padding: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    font-size: 16px;
    padding: 3px;
    border-radius: 3px;
}


/* Home page */

#hero{
    background-image: url("image/bg3.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero .search-container{
    position: relative;
    float: right;
}

.hero input[type=text]{
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: 2px solid #606063;
    border-radius: 12px;
    padding: 5px;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("image/bbi.jpg");
    background-color: transparent;
    color: #088178;
    border: 0 ;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer; 
    font-weight: 700;
    font-size: 15px; 
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 150px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 64, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px; 
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

#product1{
    text-align: center;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
    display: flex;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #606063;
    font: size 12px;
}

#product1 .pro .des h5{
    padding: 7px;
    color: #1a1a1a;
    font-size: 14 px;
}

.pro-container .pro .star{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pro-container .pro .star{
    color: #ffe400;
    font-size: 20px;
    padding: 20px 0;
}

.pro input{
    display: none;
}

.pro input + label{
    font-size: 18px;
    text-shadow: 1px 1px 0 #ffe400;
    cursor: pointer;
}

.pro input:checked + label ~ label{
    color: #838383;
}

.pro label:active{
    transform: scale(0.8);
    transition: 0.3s ease;
}


#product1 .pro .des h4{
    padding: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("image/banner3.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4{
    color: #e81e63;
    font-size: 16px;
}

#banner h2{
    color: #e81e63;
    font-size: 30px;
    padding: 10px 0;
}

#banner h2 span{
    color: #fff;
}

#banner button:hover{
    background: #088178;
    color: #fff;
}

#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/banner4.jpg");
    min-width: 550px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;    
}

#sm-banner .banner-box2{
    background-image: url("image/banner5.jpg");
}

#sm-banner h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2{
    color: #e81e63;
    font-size: 25px;
    font-weight: 800;
}

#sm-banner span{
    color: #2196f3;
    font-size: 14px;
    font-weight: 500;
    padding: 15px;
}

#sm-banner .banner-box:hover button
#blog .blog-details button{
    background-color: #088178;
    border: 1px solid #088178;
}

#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("image/banner6.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;   
    margin-bottom: 20px; 
}

#banner3 .banner-box2{
    background-image: url("image/bab.jpg");
}

#banner3 .banner-box3{
    background-image: url("image/banner9.jpg");
}

#banner3 h2{
    color: #e81e63;
    font-weight: 900;
    font-size: 22px;
} 

#banner3 h3{
    color: #000080;
    font-weight: 800;
    font-size: 15px;
} 

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo{
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}

footer .follow{
    margin-top: 20px;
}

footer .follow i{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .follow i:hover,
footer a:hover{
    color: #088178;
}

/* shop page*/

#page-header{
    background-image:url("image/banner13.jpg");
	width: 100%;
	height: 40vh;
    background-position: center;
    background-size: cover;
	display: flex;
	justify-content: center;
    align-items: center;
	text-align: center;
	flex-direction: column;
	padding:14px;
}

#page-header h2{
    color: #fff;
}
#page-header p{
	color: #fff;
}

#pagination{
    text-align:center;
}

#pagination a{
    text-decoration:none;
    background-color:#088178;
    padding:15px 20px;
    border-radius:4px;
    color: #fff;
    font-weight: 600;
}

/* Single Product */

#prodetails{
    display: flex;
    margin-top: 20px;
}

#prodetails .single-pro-image{
    width: 35%;
    margin-right: 50px;
}

.small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

#prodetails .single-pro-details{
    width: 50%;
    padding-top: 30px;
}

#prodetails .single-pro-details h5{
    padding: 40px 0 20px 0;
}

#prodetails .single-pro-details h4{
    padding: 40px 0 20px 0;
}

#prodetails .dress-name h3{
    padding: 40px 0 20px 0;
    color: #088178;
    font-size: 30px;
}

#prodetails .single-pro-details h2{
    font-size: 26px;
}

#prodetails .single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#prodetails .single-pro-details input{
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#prodetails .single-pro-details span{
    line-height: 25px;
}

/* Blog Page */

#page-header.blog-header{
    background-image: url("image/banner12.jpg");
}

#page-header.blog-header p{
    color: #d1e8f2;
}

#blog{
    padding: 150px 150px 0 150px;
}

#blog .blog-box{
    display: flex;
    align-items: center;
    width: 100%; 
    position: relative;
    padding-bottom: 90px;
}

#blog .blog-img{
    width: 50%;
    margin-right: 40px;
}

#blog img{
    width: 300px;
    height: 100%;
    object-fit: cover;
}

#blog .blog-details{
    width: 50%;
}

#blog .blog-details a{
    text-decoration: none;
    font-size: 11px;
    color: #000;
    font-weight: 700;
    position: relative;
    transition: 0.3s;
}   

#blog .blog-details a::after{
    content: "";
    width: 50px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 4px;
    right: -60px;
}

#blog .blog-details a:hover{
    color: #088178;
}

#blog .blog-details a:hover::after{
    background-color: #088178;
}

#blog .blog-box h1{
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 70px;
    font-weight: 700;
    color: #c9cbce;
    z-index: -1;
}

/* About Page */

#page-header.about-header{
    background-image: url("image/blog/blogimg/abbanner.jpg");
}

.about-header span{
    font-size: 30px;
    color: #e81e63;
}

.about-header p{
    font-size: 20px;
}

#about-head{
    display: flex;
    align-items: center;
}

#about-head img{
    width: 50%;
    height: auto;
}

#about-head div{
    padding-left: 40px;
}

#about-website{
    text-align: center;
}

#about-website .video{
    width: 70%;
    height: 100%;
    margin: 30% auto 0 auto;
}

#about-website .video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}


/* Cart Page */

.cart-details{
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert h3{
    text-align: center;
    color: #1a1a1a;
    font-family: 'spartan',sans-serif; 
}

#scanner{
    display: flex;
    align-items: center;
}

#scanner img{
    width: 20%;
    height: auto;
}

#scanner div{
    padding-left: 40px;
}

#scanner.section-p1 span{
    font-size: 25px;
    color: #e81e63;

}

/* Contact Page */
 
#contact-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details{
    width: 40%;
}

#contact-details .details span,
#form-details form span{
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2{
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3{
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li{
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}

#contact-details .details li p{
    margin: 0;
    font-size: 16px;
}

#contact-details .map{
    width: 55%;
    height: 400px;
}

#contact-details .map iframe{
    width: 100%;
    height: 100%;
}

#form-details{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e81e63;
}

#form-details form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea{
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #06acee;
}

#form-details form button{
    background-color: #088178;
    color: #fff;
}

#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img{
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin: right 15px;
} 

#form-details .people div p{
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #000;
}

/* CUSTOMIZE PAGE */

#form-details label{
    color: #c706ee;
}

/* accessories */

.blog-details h4, h3{
    color: #088178 ;
}

/* CASH ON DELIVERY */

#form-details .cashform{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #3384ee;
    width: 50%;
}

#form-details .cashform form{
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}